<form name="ticketTextForm"
     ng-controller="ticketController"
     ng-show="loaded"
     ng-submit="save(ticketText)"
     class="form-group"
     val-form-manager>
    <umb-panel>
        <umb-header>
            <div>
                <h3>Subject: {{ticket.Subject}}</h3>
                <span>Owner: {{ticketOwner.Name}}</span>
            </div>
        </umb-header>
        <div class="umb-panel-body pull-right umb-btn-toolbar"">
            <div id="content">
                <!-- Here comes the generated Texts out of the db-->
                <div ng-repeat="text in textList">
                    <span class="panel-heading">Author: {{text.author}}</span>
                    <span class="input-sm">Create Date: {{text.createTS}}</span>
                    <textarea id="text{{text.Id}}" readonly="readonly" class="form-control">{{text.Text}}</textarea>
                </div>
            </div>
            <div>
                <label for="newText" class="form-control">Answer:</label>
                <textarea id="newText" ng-model="ticketText.Text" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
</umb-panel>
</form>